html {
    width: 100%;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url(./img/doska-6.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: static;
    margin: 0;
    padding: 0;
}

.block1 {
    display: flex;
    width: 100%;
    font-size: 180%;
}

header {
    position: relative;
    font-size: 150%;
    line-height: 200%;
}

h1, h2 {
    position: relative;
    top: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-style: italic;
    text-shadow:
      0 0 5px #fff,
      0 0 40px #fff,
      0 0 80px rgb(145, 142, 142),
      0 0 100px rgb(145, 130, 130);
}

main {
    margin: 0;
    padding: 0;
}

.container { 
    padding: 0 0.2vw;
    margin: 5px 0 -20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container div,aside {
    font-size: 120%;
    color: white;
    opacity: 90%;
    line-height: 100%;
  }

.block2 {
    margin: 0 0 0 30px;
    display: flex;
    flex-direction: column;
}

.education {
    opacity: 100%;
}

.work-experience {
    opacity: 100%;
}

.allskills {
    position: relative;
    top: -20px;
    opacity: 100%;
    display: flex;
    flex-wrap: wrap;
}

.allskills div {
    color: white;
    opacity: 100%;
    font-size: 100%;
    margin-right: 30px;
}

.language {
    padding: 0 0 0 20px;
}

p {
    line-height: 150%;
}
ul, p {
    margin: 0;
}

.block3 {
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
}

.photoya {
    padding: 0;
    margin: 0;
}

.contacts {
    position: relative;
    left: 20px;
    font-size: 150%;
    opacity: 80%;
}

.contacts ul{
    list-style-type: none;
    line-height: 150%;
    font-size: 115%;
}

h3 {
    line-height: 110%;
    margin: 25px 0 10px 0;
    text-shadow:
      0 0 5px rgb(230, 226, 26),
      0 0 40px rgb(232, 235, 76),
      0 0 80px rgb(240, 238, 151),
      0 0 100px rgb(145, 130, 130);
}

h4 {
    line-height: 110%;
    margin: 25px 0 10px 0;
}

h5 {
    line-height: 100%;
    font-size: 130%;
    margin: 30px 0 0 0;
}

.link {
    position: relative;
    top: 10px;
    width: 100%;
    margin: 0;
}

.links { 
    position: relative;
    left: 60px;
    display: inline;
}

.llink:hover {
    z-index: 10;
    transform: scale(1.5);
}

footer {
    position: relative;
    margin: 40px 0 50px 0;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    opacity: 90%;
}